.find {
	$self: &;
	border-radius: 24px;
	padding: 24px 30px 30px;
	background-color: #E1E6EE;
	margin-top: 100px;
	margin-bottom: 80px;
	
	@include media('<=md') {
		padding: 24px;
	}
		
	@include media('<=sm') {
		margin-top: 30px;
	}
	
	@include media('<=xs') {
		margin-bottom: 50px;
	}

	&_home {
		background-color: #18171C;
		margin-top: -100px;
		
		@include media('<=sm') {
			margin-top: -180px;
		}

		#{$self}__title {
			color: #fff;
		
			@include media('<=sm') {
				display: none;
			}
		}

		#{$self}__field span {
			color: #FAFBFC;
		}
	}
	
	&__title {
		text-align: center;
		margin-bottom: 20px;

		br {
			display: none;

			@include media('<=sm') {
				display: block;
			}
		}
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(3, 1fr) 140px;
		grid-gap: 20px;
		align-items: end;
		
		@include media('<=md') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=sm') {
			grid-template-columns: 1fr;
		}
	}

	&__field {

		span {
			display: block;
			color: #18171C;
			font-size: 16px;
			font-weight: 200;
			margin-bottom: 10px;
		}
	}

	&__select {

		&.select {
			font-family: "MR", sans-serif;
			background-color: #fff;
			border-radius: 3px;
			height: 60px;
			
			@include media('<=md') {
				height: 50px;
			}
			
			@include media('<=xxs') {
				height: 46px;
				font-size: 16px;
			}

			.select__head {
				color: #a8acb1;
				
				&.selected {
					color: #18171C;
				}

				&::after {
					opacity: 0.4;
				}
			}

			.select__list {

			}

			.select__item {
				&:first-child {
					// display: none;
				}
			}
		}
	}

	&__submit {
		
		@include media('<=sm') {
			margin: auto;
		}
	}
}