<footer class="footer"> 
	<div class="footer__inner container">
		<div class="footer__first">
			<div class="footer__logo">
				<a href="./"><svg><use xlink:href="#icon-logo"></use></svg></a>
				<p>Eventick is a global self-service ticketing platform for live experiences.</p>
			</div>
			<div class="footer__copy">
				<a href="./">2024 Copyright</a>
				<a href="./">terms and conditions</a>
				<a href="./">privacy policy</a>
			</div>
			<div class="footer__social">
				<a href="./"><svg><use xlink:href="#icon-soc-fbk"></use></svg></a>
				<a href="./"><svg><use xlink:href="#icon-soc-twt"></use></svg></a>
				<a href="./"><svg><use xlink:href="#icon-soc-lnk"></use></svg></a>
			</div>
		</div>
		<div class="footer__nav">
			<h2 class="footer__title">Our Events</h2>
			<a href="./">Event type 1</a>
			<a href="./">Event type 2</a>
			<a href="./">Event type 3</a>
			<a href="./">Event type 4</a>
		</div>
		<div class="footer__nav">
			<h2 class="footer__title">Our Events</h2>
			<a href="./">Event type 1</a>
			<a href="./">Event type 2</a>
			<a href="./">Event type 3</a>
			<a href="./">Event type 4</a>
		</div>
		<div class="footer__last">
			<h2 class="footer__title">Stay in the loop</h2>
			<p class="footer__text">Join our mailing list to stay in the loop with our newest for Event and concert</p>
			<form action="./" class="footer__subscribe">
				<input type="text">
				<button class="button">Search</button>
			</form>
		</div>
	</div>
</footer> 

@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>