<div class="@@if(this.parent){@@parent} e-card">
	<a class="e-card__image" href="./detail.html"><img src="images/card-image-@@image.webp" alt=""></a>
	<div class="e-card__body">
		<div class="e-card__date">April, <span>14</span> 22:00</div>
		<div class="e-card__side">
			<h3 class="e-card__title title">Oxxxymiron World Tour</h3>
			@@if(!this.tags) {
				<div class="e-card__text">
					<p>Prague, Czech Republic</p>
					<p>Prahha concert hall <a class="e-card__geo" href="./"><svg><use xlink:href="#icon-geo"></use></svg></a></p>
				</div>
			}
			@@if(this.tags) {
				<div class="e-card__tags">
					<a class="e-card__tag" href="./">Paris, Fra..</a>
					<a class="e-card__tag" href="./">Oslo, Nor..</a>
					<a class="e-card__tag" href="./">Rome, Ita..</a>
					<a class="e-card__tag" href="./">Berlin, Ger..</a>
					<a class="e-card__tag" href="./">Rome, Ita..</a>
					<a class="e-card__tag" href="./">More 12</a>
				</div>
			}
		</div>
		<a class="e-card__button button button_filled" href="./">Buy Tickets</a>
	</div>
</div>