<div class="@@if(this.parent){@@parent} t-card">
	<div class="t-card__date">April, <span>14</span> 22:00</div>
	<div class="t-card__side">
		<div class="t-card__content">
			<h2 class="t-card__title">Prague, Czech Republic</h2>
			<div class="t-card__info">
				<span>Prahha concert hall</span>
				<a class="t-card__tag" href="./"><svg><use xlink:href="#icon-geo"></use></svg></a>
				<a class="t-card__tag" href="./">18+</a>
			</div>
		</div>
		<a class="t-card__button t-card__button_buy button button_filled" href="./">Buy Tickets For EUR</a>
		<a class="t-card__button t-card__button_cur button button_colored" href="./">USD</a>
		<a class="t-card__button t-card__button_cur button button_colored" href="./">CZK</a>
	</div>
</div>