<header class="header @@if(this.mod){header_@@mod}">
	<div class="header__inner container">
		<a class="header__logo" href="./"><svg><use xlink:href="#icon-logo"></use></svg></a>
		<div class="header__navi h-navi">
			<button class="h-navi__close"><svg><use xlink:href="#icon-close"></use></svg></button>
			<nav class="h-navi__menu" data-scroll-lock-scrollable>
				<a class="h-navi__link" href="./">All events</a>
				<a class="h-navi__link" href="./">Merchandise</a>
				<a class="h-navi__link" href="./">Support</a>
			</nav>
		</div>
		<div class="header__side">
			<a class="header__lang" href="./">En</a>
			<button class="header__navi-toggle"><svg><use xlink:href="#icon-menu"></use></svg></button>
		</div>
	</div>
</header>