.gallery {
	$self: &;
	margin-bottom: 120px;

	&__title {
		margin-bottom: 50px;
	}

	&__showcase {
		display: grid;
		grid-template-columns: repeat(3, 1fr) 1.4fr;
		grid-template-rows: repeat(5, 110px);
		margin-bottom: 20px;
		grid-gap: 20px;
		// counter-reset: item_ctr;
		
		@include media('<=xlg') {
			grid-template-rows: repeat(5, 90px);
			margin-bottom: 16px;
			grid-gap: 16px;
		}
		
		@include media('<=lg') {
			grid-template-rows: repeat(5, 80px);
			margin-bottom: 14px;
			grid-gap: 14px;
		}
		
		@include media('<=md') {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(7, 80px);
		}
		
		@include media('<=sm') {
			grid-template-rows: repeat(7, 60px);
		}
		
		@include media('<=xs') {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(10, 100px);
		}
		
		@include media('<=xxs') {
			grid-template-rows: repeat(10, 80px);
			margin-bottom: 10px;
			grid-gap: 10px;
		}
		
		@include media('<=xxxs') {
			grid-template-rows: repeat(10, 50px);
		}
	}

	&__s-item {
		position: relative;
		grid-area: span 2 / span 1;
		
		/* &::before {
			position: absolute;
			counter-increment: item_ctr;
			content: "0" counter(item_ctr);
			color: #fff;
		} */
		
		&:nth-child(2) {
			grid-area: span 3 / span 2;
			
			@include media('<=md') {
				grid-area: span 3 / span 2;
			}
			
			@include media('<=xs') {
				grid-area: span 3 / span 2;
				order: -1;
			}
		}
		
		&:nth-child(3) {
			grid-area: span 5 / span 1;
			
			@include media('<=md') {
				grid-area: span 5 / span 1;
			}
			
			@include media('<=xs') {
				grid-area: span 4 / span 1;
			}
		}
		
		&:nth-child(4) {
			grid-area: span 3 / span 1;
			
			@include media('<=md') {
				grid-area: span 4 / span 1;
			}
			
			@include media('<=xs') {
				grid-area: span 3 / span 1;
			}
		}
		
		&:nth-child(5) {
			
			@include media('<=xs') {
				grid-area: span 3 / span 1;
			}
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__hidden {
		display: none;
		animation: showItem 0.3s;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		
		@include media('<=xlg') {
			grid-gap: 16px;
		}
		
		@include media('<=lg') {
			grid-gap: 14px;
		}
		
		@include media('<=md') {
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include media('<=xs') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-gap: 10px;
		}

		&.showed {
			display: grid;
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__h-item {
		@include aspect-ratio(1, 0.8);
		grid-column: span 1;
	}

	&__bottom {
		padding-top: 30px;
	}

	&__more {
		margin: auto;
	}
}