.card {
	$self: &;
	display: flex;
	flex-flow: column nowrap;
	background-color: #fff;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		
		#{$self}__body {
			border-color: #7848FF;
		}
	}

	&__image {
		display: block;
		height: 240px;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__body {
		box-sizing: border-box;
		padding: 30px;
		display: grid;
		grid-template-columns: 85px 1fr;
		grid-gap: 30px 20px;
		flex-grow: 1;
		border: 2px solid transparent;
		border-top: none;
		transition: border-color 0.3s;
	}

	&__date {
		background-color: #FAFBFC;
		grid-column: span 1;
		padding: 20px;
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		span {
			font-size: 32px;
			margin-bottom: 8px;
		}
	}
	
	&__side {
		background-color: #FAFBFC;
		grid-column: span 1;
		padding: 20px;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;

		p:last-child {
			margin: 0;
			font-size: 16px;
		}
	}

	&__geo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #E1E6EE;
		border-radius: 4px;
		width: 32px;
		vertical-align: bottom;
		margin-left: 12px;
		
		svg {
			fill: #7848FF;
			height: 24px;
			width: 24px;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
	}

	&__tag {
		display: block;
		border: 1px solid #CED4DA;
		border-radius: 4px;
		font-size: 14px;
		padding: 4px 20px;
		text-decoration: none;
		color: #000;
		margin: 0 10px 10px 0;
	}

	&__button {
		grid-column: span 2;
		align-self: end;
		width: 100%;
	}
}