@import "lib/additional.scss"; 
@include reset(); 

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


@include font-face("Montserrat-ExtraLight", "MR", 100);
@include font-face("Montserrat-ExtraBold", "MR", 800);
@include font-face("Montserrat-SemiBold", "MR", 600);
@include font-face("Montserrat-Regular", "MR", 400);
@include font-face("Montserrat-Medium", "MR", 500);
@include font-face("Montserrat-Light", "MR", 300);
@include font-face("Montserrat-Black", "MR", 900);
@include font-face("Montserrat-Bold", "MR", 700);
@include font-face("Montserrat-Thin", "MR", 200);

// @import "../../node_modules/swiper/swiper";
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";


// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--size: #{$basesize}px;
	--container: 1280px;
	--gap: 24px;
	
	@include media('<=xs') {
		--gap: 16px;
	}
}

body, html {
	box-sizing: border-box;
	background-color: #FAFBFC;
	// background: url('#{$images-path}body-bg.svg') top left / 4px 8px repeat #fff;
	font-size: var(--size);
	font-family: "MR", sans-serif;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	color: #18171C;
	flex-flow: column nowrap;

	@include media('<=xxs') {
		background-color: #f8f8f8;
	}
}

body {
	padding-top: 90px;
	
	@include media('<=sm') {
		padding-top: 60px;
	}

	&#home {
		padding-top: 0;
	}
	
	&.underlay {
		&::before {
			display: block;
			box-sizing: border-box;
			content: '';
			position: absolute;
			z-index: 12;
			top: 0px; left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			transition: opacity 0.4s;
			animation: showItem 0.4s;
		}

		&_closing::before {
			opacity: 0;
		}
	}
}

// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes showItem {
	from { opacity: 0; }
	to { opacity: 1; }
}