.select {
	$self: &;
	display: block;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #18171C;
	border-radius: 3px;
	min-width: 290px;
	font-size: 18px;

	&_opened {
		
		#{$self}__list {
			display: block;
		}
	}

	&__head {
		box-sizing: border-box;
		height: 50px;
		min-width: 100%;
		width: fit-content;
		display: flex;
		align-items: center;
		white-space: nowrap;
		padding: 10px 32px 10px 10px;
		cursor: pointer;
	
		&::after {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			background: url('#{$images-path}ic-chevron.svg') center / contain no-repeat transparent;
			position: absolute;
			right: 8px;
			top: calc(50% - 12px);
		}
	}

	&__list {
		box-sizing: border-box;
		display: none;
		position: absolute;
		left: -1px;
		top: 100%;
		z-index: 3;
		top: calc(100% + 8px);
		min-width: calc(100% + 2px);
		width: fit-content;
		padding: 10px;
		border-radius: 5px;
		background-color: #fff;
		border: 1px solid #eee;
		animation: showItem 0.4s ease;
	}

	&__item {
		cursor: pointer;
		padding: 5px 10px;
		white-space: nowrap;

		&:hover {
			background-color: #FAFBFC;
		}
	}
}