.header {
	$self: &;
	position: fixed;
	width: 100%;
	z-index: 12;
	background-color: #18171C;
	
	&_home {
		transition: background-color 0.3s;
	
		@include media('>sm') {
			background-color: transparent;
		}
	}
		
	&_home#{&}_filled {
		background-color: #18171C;
	}
	
	&__inner {
		height: 90px;
		display: flex;
		align-items: center;

		@include media('<=sm') {
			height: 60px;
		}
	}

	&__logo {
		display: block;
		margin-right: auto;
		filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.75));
		
		svg {
			fill: #fff;
			max-height: 25px;
			max-width: 180px;

			@include media('<=sm') {
				max-height: 20px;
				max-width: 130px;
			}
		}
	}
	
	&__navi {
		height: 100%;

		@include media('<=sm') {
			width: 100%;
			height: 100vh;
			height: 100dvh;
			position: fixed;
			z-index: 13;
			top: 0;
			right: -370px; 
			max-width: 360px;
			transition: right 0.3s linear;
	
			&.opened {
				right: 0;
			}
		}
	}
	
	&__side {

	}

	&__toggle {
		@extend %reset-button;
		display: none;
		width: 31px;
		height: 15px;

		@include media('<=sm') {
			display: block;
		}

		svg {
			fill: #fff;
			width: 100%;
			height: 100%;
		}
	}
}